.my-header{
    height: 100%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

    .header-center-container{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}